// Variables
$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;

$font-stack: 'IBM Plex Sans', sans-serif;

// Mixins
@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

// STYLE GENERAL
* {
    box-sizing: border-box;
    font-family: $font-stack;
    margin: 0;
    padding: 0;
}

// html {
//     font-size: 80%;
// }

body {
    min-height: 100vh;
    // color: $primary-text-color;
    background-color: $primary-color;
}

nav {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    @include flexCenter(row,space-between,center);


    // Define el tamaño horizontal o vertical del bloque de un elemento, 
    // dependiendo de su modo de escritura, en este caso horizontal (ancho)
    // tambien existe block-size, pero este para la altura.
    inline-size: 100%;

    // El padding se adapta a la pantalla mobil o pc, demasiado útil para el responsive
    padding-inline: 3rem; // Da como resultado un padding hacia la izquierda y derecha
    padding-block: 3rem; // Da como resultado un padding hacia arriba y abajo
    
    // Otra forma de agregar padding (clásica)
    // padding: 0 2rem;
    // width: 100%;
    // height: 100px;
    .nav-title {
        text-decoration: none;
        color: $primary-text-color;
        font-size: 1.3rem;
        &:hover {
            text-decoration: underline;
        }
    }
    .nav-icons {
        display: none;
        gap: 1.25rem;
    }
    .nav-img {
        // Las imagenes ocupan toda la altura del div, útil
        display: block;
    }

    @media (min-width:768px) {
        .nav-icons {
            display: flex;
        }
        .menu-burger {
            display: none;
        }
    }
}

article {
    display: flex;
    gap: 5rem;
    color: $primary-text-color;
    margin-inline: 3rem;
    padding-block-start: 2rem;
    .impact-section {
        width: 60%;
        h1 {
            font-size: 3em;
            font-weight: 600;
            margin-block: 3rem;
        }
        p {
            font-size: 1.25rem;
            margin-block-end: 5rem;
        }
        button {
            width: 12vw;
            padding: 20px;
            border-style: none;
            background-color: $quaternary-color;
            border-radius: 35px;
            color: white;
            font-weight: 700;
            font-size: 1em;
            &:hover {
                transform: scale(1.1); // Efecto de zoom del boton
            }
        }
    }
    .image-section {
        width: 40%;
        img {
            display: block;
            max-height: 500px;
            width: 100%;
            // width: 20vw;
            border-radius: 1.5rem;
        }
    }
}

.product-section {
    width: auto;
    height: auto;
    // background-color: red;
    padding: 60px;
    .healtcare {
        padding-bottom: 60px;
        h2 {
            color: $primary-text-color;
            padding-bottom: 60px;
            font-weight: 400;
            font-size: 2em;
        }
    }
    .card-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 200px;
        row-gap: 75px;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: auto;
        .product-card {
            width: 14vw;
            height: 55vh;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg {
                    width: 25px;
                    height: 25px;
                    stroke: $primary-text-color
                }
            }
            .product-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                img {
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
    .furniture {
        @extend .healtcare;
        .product-card {
            background-color: $tertiary-color;
            color: white;
            .icon {
                svg {
                    width: 25px;
                    height: 25px;
                    stroke: #FFFF;
                }
            }
        }
    }
}

.about-us {
    margin-inline: 3rem;
    padding-block-start: 2rem;
    h2 {
        color: $primary-text-color;
        font-weight: 400;
        font-size: 2em;
        padding-bottom: 60px;
    }
    .mision-section {
        @include flexCenter(row,space-evenly,center);
        .earth {
            $text-color:#E86424;
            width: 30vw;
            display: flex;
            align-items: center;
            gap: 10px;
            color: $text-color;
            img {
                object-fit: contain;
            }
            p {
                text-align: center;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    .innovation {
        @extend .earth;
    }
}

.gallery {
    margin-inline: 3rem;
    padding-block-start: 2rem;
    h2 {
        color: $primary-text-color;
        font-weight: 400;
        font-size: 2em;
        padding-bottom: 60px;
    }
    .gallery-images {
        @include flexCenter(row,space-between,center);
        img {
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            &:hover {
                transform: scale(1.1); // Efecto de zoom de la imagen
            }
        }
    }
}

.location {
    $text-color: #E86424;
    margin-inline: 3rem;
    padding-block-start: 2rem;
    padding-block-end: 4rem;
    color: $text-color;
    h2 {
        color: $primary-text-color;
        font-weight: 400;
        font-size: 2em;
        padding-bottom: 60px;
    }
    .map {
        @include flexCenter(row, center ,center);
        padding-bottom: 50px;
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    color: white;
    padding-inline-start: 3rem;
    padding-block: 2rem;
    .social-media {
        @include flexCenter(row, center, center);
        gap: 40px;
    }
}